*,
html {
	letter-spacing: 1px;
	font-family: 'PT Sans', sans-serif;
	box-sizing: border-box;
}

body {
	margin: 0;
	background-color: #fff;
}

header {
	width: 100%;
	padding: 1rem;
	display: inline-flex;
	background-color: #f9f9f9;
}

header>h2 {
	margin: auto;
	text-align: center;
}

main {
	width: 55%;
	min-height: 70vh;
	padding: .5rem 1rem;
	margin: 2rem auto;
	border-radius: 7px;
	box-shadow: 1px 3px 15px rgba(0, 0, 0, 0.15);
}

h3 {
	text-align: center;
	text-decoration: underline;
}

.xhr,
.fetch,
.axios {
	width: 100%;
	margin: 1rem auto;
	border-bottom: 1px solid lightseagreen;
}

button {
	border: 1px solid #000;
	background-color: #fff;
	padding: 6px 18px;
	cursor: all-scroll;
}

button:active {
	color: #fff;
	background-color: #000;
}

@media(max-width: 768px) {
	main {
		width: 70%;
	}
}

@media(max-width: 480px) {
	main {
		width: 90%;
	}
}